[Desktop Entry]
Encoding=UTF-8
Name=hocr-gtk
Name[he]=hocr-gtk
Exec=hocr-gtk
Icon=hocr1-48
Terminal=false
Type=Application
Categories=GTK;Application;Office;OCR;
StartupNotify=true
