[Desktop Entry]
Encoding=UTF-8
Name=sane-pygtk
Comment=A simple program to work with scanner.
Comment=A minimal program to work with scanner.
Comment[ru]=Программа для работы со сканером.
Comment[ca]=Un programa per a treballar amb escànners.
Comment[es]=Un programa para trabajar con escáners..
Comment[fr]=Un programme d'acquisition d'images pour votre scanner.
Comment[he]=תכנית בסיסית לשימוש בסורק.
Exec=sane-pygtk
Icon=xsane
Terminal=false
Type=Application
Categories=GTK;Graphics;RasterGraphics;Scanning;OCR;
StartupNotify=true
