Source: hocr
Section: unknown
Priority: optional
Maintainer: Yaacov Zamir <kzamir@walla.co.il>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.1

Package: hocr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: hocr is a Hebrew OCR (optical character recognition) program
 The program will process black&white texts
 scanned at 300dpi.
 The text is read without punctuation.
 Spell checking is using aspell-he.
